/* 修改 Element UI 组件样式 */

/* 弹窗 */
.el-dialog {
  padding: 0 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.el-dialog__header {
  padding: 0 !important;
}

.el-dialog.is-fullscreen {
  border-radius: 0 !important;
}

/* 下拉菜单 */
.el-dropdown-menu {
  padding: 5px !important;
}

.el-dropdown-menu__item {
  padding: 0 !important;
}

.el-dropdown-menu__item:hover {
  color: inherit !important;
  background-color: transparent !important;
  cursor: pointer !important;
}

.el-dropdown-menu__item:focus {
  background-color: inherit !important;
  color: inherit !important;
}

/* 轮播图 */
.el-carousel__button {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  background-color: var(--primary-color) !important;
}

.el-carousel__container {
  height: 100% !important;
}

@media screen and (max-width: 965px) {
  .el-carousel__container {
    width: 100% !important;
    max-height: 500px !important;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (min-width: 960px) {
  .el-carousel__container {
    height: 100% !important;
  }
}

.el-carousel__item {
  height: 100% !important;
}
